<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0344a0bdce.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logobarra">
                <div>
                    <img src="/img/logo-mercado-liebre.svg" alt="logo" class="logo">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="inputbusqueda">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
        </div>

        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tienda-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayudar">Ayudar</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i> </a></li>
                <li><a href="/mis-compras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        <img src="img/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
        <section class="ultima-visita">
            <h4 class="titulo"> Basado en tu última visita </h4>
            <div class="producto">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </strong> </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="mac" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </strong> </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </strong></div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTV Samsung 43"</p>
                    </strong></div>
                </article>
            </div>
        </section>

        <section class="ofertas">
            <h4 class="titulo"> Ofertas </h4>
            <div class="producto">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </strong> </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="mac" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </strong> </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </strong></div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart" width=100% class="foto">
                    <div class="datosprod"> <strong>
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="preciodes">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                        <p class="descripcion">SmartTV Samsung 43"</p>
                    </strong></div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div>
        <i id="icono-final" class="fa-solid fa-credit-card"></i>
        <h4 class="pie">Pagá con tarjeta o en efectivo</h4>
        <p class="pie"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
        <i id="icono-final" class="fa-solid fa-gift"></i>
        <h4 class="pie">Envío gratis desde $ 2.500</h4>
        <p class="pie">Solo por estar registra@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
        <i id="icono-final" class="fa-solid fa-user-shield"></i>
        <h4 class="pie">Segyrudad, de principio a fin</h4>
        <p class="pie">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <h4 class="copyr">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>

</body>
</html>